#SearchBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.SearchBar-child {
    padding: 10px 15px;
    margin: 10px 7px;
}

#Posts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.post {
    display: flex;
    flex-direction: column;

    margin: 10px;
    width: 320px;
}
